.cabecalhoHome {

    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;

}

.cabecalhoHome h1 {

    font-size: clamp(1rem, 5vw + 0.5rem, 3rem);

}

.cabecalhoHome h3 {

    font-size: clamp(0.8rem, 3vw + 0.5rem, 2rem);

}

.cabecalhoHome i {

    font-size: clamp(0.5rem, 2vw + 0.5rem, 1rem);

}

.imgCabecalho {

    margin: auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;

}

.textCabecalho {

    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.descricao {

    text-align: justify;
    letter-spacing: clamp(0.1rem, 0.5vw, 0.4rem);
    margin: 2rem 0;

}

@media (max-width:720px) {

    .cabecalhoHome {

        flex-direction: column;

    }

}