.logoutContent {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1em;

}

.btnLogOut {

    text-decoration: underline;
    margin: 0 .4rem;
    cursor: pointer;

}

.btnLogOut:hover {

    color: var(--hover-link);
    

}