
.pricipaisPosts {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 4rem 0;
    gap: 2rem;
    

}

.pricipaisPosts *:not(p) { text-align: center; } 

.pricipaisPosts p {

    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.post {

    padding: 1rem;
    border-radius: 1em;
    /* border: 1px red solid; */
    box-shadow: 2px 2px 10px 0px var(--dark-shadow-color);

}

.post * {margin:1rem 0}

.postLink {

    text-decoration: none;
    color: rgb(26, 128, 146)

}

.postLink:hover {

    color:var(--hover-link)

}
