.paragrafosContent p{

    margin: 2rem 0;
    text-align: justify;
    
}
.paragrafosContent h1, h2, h3, h4, h5 {

    display: flex;
    justify-content:center;
    margin: 1rem 0;

}


.paragrafosContent {

    padding: 1rem;
    max-width: 100%;

}

.paragrafosContent ul{

    list-style: none;
    margin: 2rem 0;

}

.paragrafosContent ul li  {

    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 1.2rem;

}

.paragrafosContent ul li::before {

    content: "➣ ";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.paragrafosContent pre {

  max-width: 100%;

}

.paragrafosContent code {

    word-wrap: break-word;
    max-width: 100%;

}