@keyframes descer {

    0%, 75% {left:49%} 
    50%, 100% {left:50%}

}

.toast {

    background-color: var(--background-secondary-color);
    opacity: 0.6;
    position: absolute;
    padding: 1rem;
    font-size: 1rem;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    border-radius: 8px;
    font-weight: 700;
    animation: descer .4s ease;
}