* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;    

}

html {

    font-size: 16px;
    background-color: var(--background-main-color);
    height: 100%;

}

body {

    font-size: 1.4rem;
    color: var(--text-color);
    font-family: var(--font-default);
    height: 100%;
    

}

:root {

    --text-color: white;
    --background-main-color: rgb(17, 16, 16);
    --hover-link: rgb(51, 40, 143);
    --background-secondary-color: black;
    --font-default: "Poppins", sans-serif;
    --dark-shadow-color: rgba(255, 255, 255, 0.4);

}